@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-BlackItalic.woff2) format('woff2'), url(../fonts/FiraSans-BlackItalic.woff) format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-ThinItalic.woff2) format('woff2'), url(../fonts/FiraSans-ThinItalic.woff) format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-ExtraBold.woff2) format('woff2'), url(../fonts/FiraSans-ExtraBold.woff) format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-SemiBoldItalic.woff2) format('woff2'), url(../fonts/FiraSans-SemiBoldItalic.woff) format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-Medium.woff2) format('woff2'), url(../fonts/FiraSans-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-Regular.woff2) format('woff2'), url(../fonts/FiraSans-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-BoldItalic.woff2) format('woff2'), url(../fonts/FiraSans-BoldItalic.woff) format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: FontAwesome;
    src: url(FontAwesome.woff2) format('woff2'), url(FontAwesome.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-Black.woff2) format('woff2'), url(../fonts/FiraSans-Black.woff) format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-Italic.woff2) format('woff2'), url(../fonts/FiraSans-Italic.woff) format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-ExtraLight.woff2) format('woff2'), url(../fonts/FiraSans-ExtraLight.woff) format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-MediumItalic.woff2) format('woff2'), url(../fonts/FiraSans-MediumItalic.woff) format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-SemiBold.woff2) format('woff2'), url(../fonts/FiraSans-SemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-LightItalic.woff2) format('woff2'), url(../fonts/FiraSans-LightItalic.woff) format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-Bold.woff2) format('woff2'), url(../fonts/FiraSans-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-ExtraLightItalic.woff2) format('woff2'), url(../fonts/FiraSans-ExtraLightItalic.woff) format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-Thin.woff2) format('woff2'), url(../fonts/FiraSans-Thin.woff) format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-Light.woff2) format('woff2'), url(../fonts/FiraSans-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-ExtraBoldItalic.woff2) format('woff2'), url(../fonts/FiraSans-ExtraBoldItalic.woff) format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap
}

html {
    box-sizing: border-box;
    height: 100%!important
}

*, :after, :before {
    box-sizing: inherit
}

@font-face {
    font-family: FontAwesome;
    src: url(../fonts/fontawesome-webfont.eot);
    src: url(../fonts/fontawesome-webfont.eot) format('embedded-opentype'), url(../fonts/fontawesome-webfont.woff2?v=4.7.0) format('woff2'), url(../fonts/fontawesome-webfont.woff) format('woff'), url(../fonts/fontawesome-webfont.ttf) format('truetype'), url(../fonts/fontawesome-webfont.svg) format('svg');
    font-weight: 400;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-search:before {
    content: "\f002"
}

.search-container {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%)
}

.search-form {
    width: 563px;
    height: 44px;
    border-radius: 6px;
    padding: 0 57px 0 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3)
}

.search-input {
    width: 562px;
    height: 44px;
    padding: 0;
    border-radius: 0;
    border: 0 none;
    outline: 0 none;
    font-size: 16px;
    line-height: 44px
}

.search-submit {
    position: relative;
    top: -42px;
    right: -500px;
    width: 27px;
    height: 40px;
    border-radius: 2px;
    border: 0 none;
    box-sizing: content-box;
    padding: 0 13px;
    font-size: 24px;
    cursor: pointer;
    -webkit-transition: all 0;
    -moz-transition: all 0;
    -ms-transition: all 0;
    -o-transition: all 0;
    transition: all 0
}

@media screen and (max-width:650px) {
    .search-container, .search-form, .search-input {
        width: 320px;
        margin-left: -9px
    }
    .search-submit {
        right: -255px
    }
}

.search-form {
    background-color: #fff;
    border: 1px solid #c8cbd3
}

.search-input {
    background-color: transparent;
    color: #313739
}

.search-submit {
    background-color: transparent;
    color: #027daa
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    background-color: gray
}

header, main {
    display: block
}

[hidden] {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline-width: 0
}

button, input, select {
    font: inherit;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

[type=checkbox], [type=radio] {
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

body, html {
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    line-height: 1.5
}

html {
    overflow-x: hidden
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    margin: 10px 0
}

a {
    color: inherit
}

.w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.w3-button:disabled {
    cursor: not-allowed;
    opacity: .3
}

:disabled * {
    pointer-events: none
}

.w3-display-container {
    position: relative
}

.w3-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.w3-select {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc
}

#main, .w3-main {
    transition: margin-left .4s
}

.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4)
}

.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

.w3-bar {
    width: 100%;
    overflow: hidden
}

.w3-center .w3-bar {
    display: inline-block;
    width: auto
}

.w3-bar .w3-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.w3-bar .w3-button {
    white-space: normal
}

.w3-bar:after, .w3-bar:before, .w3-container:after, .w3-container:before {
    content: "";
    display: table;
    clear: both
}

.w3-content {
    margin-left: auto;
    margin-right: auto
}

.w3-content {
    max-width: 980px
}

@media (max-width:600px) {
    .w3-modal-content {
        margin: 0 10px;
        width: auto!important
    }
    .w3-modal {
        padding-top: 30px
    }
}

@media (max-width:768px) {
    .w3-modal-content {
        width: 500px
    }
    .w3-modal {
        padding-top: 50px
    }
}

@media (min-width:993px) {
    .w3-modal-content {
        width: 900px
    }
}

@media (max-width:992px) {
    .w3-main {
        margin-left: 0!important;
        margin-right: 0!important
    }
}

.w3-top {
    position: fixed;
    width: 100%;
    z-index: 1
}

.w3-top {
    top: 0
}

.w3-display-topright {
    position: absolute;
    right: 0;
    top: 0
}

.w3-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.w3-display-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%)
}

.w3-container {
    padding: .01em 16px
}

.w3-card, .w3-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

.w3-card-4 {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2), 0 4px 20px 0 rgba(0, 0, 0, .19)
}

@keyframes w3-spin {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(359deg)
    }
}

@keyframes fading {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.w3-animate-opacity {
    animation: opac .8s
}

@keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.w3-animate-top {
    position: relative;
    animation: animatetop .4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

.w3-animate-right {
    position: relative;
    animation: animateright .4s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.w3-animate-input {
    transition: width .4s ease-in-out
}

.w3-animate-input:focus {
    width: 100%!important
}

.w3-opacity {
    opacity: .6
}

.w3-opacity-off {
    opacity: 1
}

.w3-medium {
    font-size: 15px!important
}

.w3-center {
    text-align: center!important
}

.w3-padding {
    padding: 8px 16px!important
}

.w3-padding-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important
}

.w3-padding-24 {
    padding-top: 24px!important;
    padding-bottom: 24px!important
}

.w3-padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important
}

.w3-padding-48 {
    padding-top: 48px!important;
    padding-bottom: 48px!important
}

.w3-padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important
}

.w3-right {
    float: right!important
}

.w3-button:hover {
    color: #000!important;
    background-color: #ccc!important
}

.w3-text-shadow {
    text-shadow: 3px 3px 10px #222!important
}

.w3-text-shadow-medium {
    text-shadow: 6px 6px 15px #222!important
}

.w3-teal {
    color: #fff!important;
    background-color: #009688!important
}

.w3-white {
    color: #000!important;
    background-color: #fff!important
}

.w3-gray {
    color: #000!important;
    background-color: #9e9e9e!important
}

.w3-light-gray {
    color: #000!important;
    background-color: #f1f1f1!important
}

.w3-text-teal {
    color: #009688!important
}

.w3-text-white {
    color: #fff!important
}

.w3-text-gray {
    color: #757575!important
}

.w3-text-light-gray {
    color: #f1f1f1!important
}